@import "_nullstyle";
@import "_fonts";

body {
   font-family: "Gilroy";
   font-weight: normal;
   font-style: normal;
   background: url("../img/Rectangle-min.png") #fcf9f2;
   display: flex;
   flex-direction: column;
}
.container {
   max-width: 1296px;
   margin: 0px auto;
}
.header {
   .logo {
      img {
         width: 206px;
      }
   }
   .download {
      height: 35px;
      width: 226px;
      background: url("../img/download.svg") no-repeat;
      border-radius: 5px;
      padding: 7px 17px 6px 17px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .buttons {
      display: flex;
      align-items: center;
      gap: 12px;
      a {
         display: flex;
         align-items: center;
      }
   }
   ul {
      li {
         a {
            padding: 15px 20px;
            color: #1d2538;
            text-align: justify;
            font-family: Gilroy;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         }
      }
      display: flex;
      align-items: center;
   }
   .contacts {
      a {
         color: #1d2538;
         text-align: justify;
         font-family: Gilroy;
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 1296px;
   }
   border-radius: 50px;
   border: 0.5px solid #67787f;
   background: #f8f8f8;
   padding: 48px;
   max-width: fit-content;
   margin: 20px auto 20px auto;
}
.footer {
   a {
      &:hover {
         text-decoration: underline;
      }
   }
   .logo {
      img {
         width: 206px;
      }
   }
   .download {
      height: 35px;
      width: 226px;
      background: url("../img/download.svg") no-repeat;
      border-radius: 5px;
      padding: 7px 17px 6px 17px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .msgrs {
      display: flex;
      align-items: center;
      gap: 24px;
   }
   .buttons {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 12px;
      a {
         display: flex;
         align-items: center;
         color: #f8f8f8;
         font-family: Gilroy;
         font-size: 13px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         letter-spacing: 0.13px;
      }
   }
   ul {
      li {
         a {
            padding: 15px 20px;
            color: #f8f8f8;
            text-align: justify;
            font-family: Gilroy;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         }
      }
      display: flex;
      align-items: center;
   }
   .contacts {
      a {
         color: #f8f8f8;
         text-align: justify;
         font-family: Gilroy;
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 1296px;
   }
   background: #1d2538;
   padding: 72px 0px;
   margin: 48px 0px 0px 0px;
}
.main {
   flex-grow: 1;
   h1 {
      color: #1d2538;

      font-size: 60px;
      font-weight: 700;
   }
   h2 {
      color: #1d2538;

      font-size: 40px;
      font-weight: 700;
      line-height: 1.3;
   }
   p {
      a {
         color: #1d2538;
         text-align: center;
         font-size: 18px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         text-decoration-line: underline;
         text-decoration-style: solid;
         text-decoration-skip-ink: none;
         text-decoration-thickness: auto;
         text-underline-offset: auto;
         text-underline-position: from-font;
      }
      color: #717171;

      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
   }
}
.intro {
   ul {
      li {
         color: #1d2538;
         font-family: Gilroy;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         span {
            color: #dea10b;
            font-family: Gilroy;
            font-size: 54px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
         }
         display: flex;
         flex-direction: column;
         gap: 12px;
         padding: 20px 32px;
         width: 196px;
         border-radius: 30px;
         border: 0.5px solid #1d2538;
         background: #f8f8f8;
      }
      display: flex;
      gap: 24px;
      margin: 52px 0px 0px 0px;
   }
   .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   .animation {
      img {
         mix-blend-mode: hard-light;
      }
   }
   p {
      color: #1d2538;

      /* S0 */
      font-family: Gilroy;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   .wrapper {
      display: flex;
   }
   margin: 100px 0px 0px 0px;
}
.about-us {
   .buttons {
      a {
         display: flex;
         height: 42px;
         padding: 10px 30px;
         justify-content: center;
         align-items: center;
         gap: 10px;

         border-radius: 100px;
         border: 0.5px solid #1d2538;
         background: #f8f8f8;

         color: #1d2538;
         text-align: center;
         font-family: Gilroy;
         font-size: 18px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
      }
      display: flex;
      align-items: center;
      gap: 24px;
   }
   .text {
      color: #1d2538;
      text-align: center;

      /* S0 */
      font-family: Gilroy;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      max-width: 1076px;
   }
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 36px;
   }
   margin: 100px 0px 0px 0px;
   padding: 96px 0px;
}
.advantages {
   .img{height: 100%;
      display: flex;
      align-items: center;
   }
   img{
      width: 72px;height: 72px;
   }
   p{color: #1D2538;

      /* Текст М */
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;}
   h3 {
      color: #1d2538;

      /* H2 */
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   .item {
      border-radius: 30px;
      border: 0.5px solid #1d2538;
      background: #f8f8f8;

      display: flex;
      width: 636px;
      padding: 36px;
      align-items: flex-start;
      gap: 24px;
   }
   .wrapper {
      margin: 48px 0px 0px 0px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
   }
   //margin: 96px 0px 0px 0px;
   padding: 96px 0px ;
}
