@import "_nullstyle";
@import "_fonts";

body {
   font-family: "Gilroy";
   font-weight: normal;
   font-style: normal;
   background: url("../img/Rectangle-min.png") #fcf9f2;
   display: flex;
   flex-direction: column;
}
section {
   background-image: linear-gradient(to bottom, rgba(103, 120, 127, 0.2), rgba(103, 120, 127, 0.2)),
      linear-gradient(to bottom, rgba(103, 120, 127, 0.2), rgba(103, 120, 127, 0.2)),
      linear-gradient(to bottom, rgba(103, 120, 127, 0.2), rgba(103, 120, 127, 0.2)),
      linear-gradient(to bottom, rgba(103, 120, 127, 0.2), rgba(103, 120, 127, 0.2)),
      linear-gradient(to bottom, rgba(103, 120, 127, 0.2), rgba(103, 120, 127, 0.2)),
      linear-gradient(to bottom, rgba(103, 120, 127, 0.2), rgba(103, 120, 127, 0.2)),
      linear-gradient(to bottom, rgba(103, 120, 127, 0.2), rgba(103, 120, 127, 0.2));

   background-position:
      1% 0,
      13% 0,
      32% 0,
      50% 0,
      68% 0,
      87% 0,
      99% 0;

   background-repeat: no-repeat;

   background-size: 1px 100%;
}
.container {
   max-width: 1296px;
   margin: 0px auto;
}
.header {
   position: fixed;
   z-index: 999;
   left: 0;
   //left: calc(50% - 696px);
   .logo {
      img {
         width: 206px;
      }
   }
   .download {
      height: 35px;
      width: 226px;
      background: url("../img/download.svg") no-repeat;
      border-radius: 5px;
      padding: 7px 17px 6px 17px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .buttons {
      display: flex;
      align-items: center;
      gap: 12px;
      a {
         display: flex;
         align-items: center;
      }
   }
   ul {
      li {
         a {
            padding: 15px 20px;
            color: #1d2538;
            text-align: justify;
            font-family: Gilroy;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         }
      }
      display: flex;
      align-items: center;
   }
   .contacts {
      a {
         color: #1d2538;
         text-align: justify;
         font-family: Gilroy;
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 1296px;
   }
   .wrapper {
      border-radius: 50px;
      border: 0.5px solid #67787f;
      background: #f8f8f8;
      padding: 48px;
      max-width: fit-content;
      margin: 20px auto 20px auto;
   }
   min-width: 100%;
   background: linear-gradient(0deg, rgba(252, 249, 242, 0) 0%, #fcf9f2 50%);
}
.footer {
   a {
      &:hover {
         text-decoration: underline;
      }
   }
   .logo {
      img {
         width: 206px;
      }
   }
   .download {
      height: 35px;
      width: 226px;
      background: url("../img/download.svg") no-repeat;
      border-radius: 5px;
      padding: 7px 17px 6px 17px;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .msgrs {
      display: flex;
      align-items: center;
      gap: 24px;
   }
   .buttons {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 12px;
      a {
         display: flex;
         align-items: center;
         color: #f8f8f8;
         font-family: Gilroy;
         font-size: 13px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         letter-spacing: 0.13px;
      }
   }
   ul {
      li {
         a {
            padding: 15px 20px;
            color: #f8f8f8;
            text-align: justify;
            font-family: Gilroy;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
         }
      }
      display: flex;
      align-items: center;
   }
   .contacts {
      a {
         color: #f8f8f8;
         text-align: justify;
         font-family: Gilroy;
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      width: 1296px;
   }
   background: #1d2538;
   padding: 72px 0px;
   margin: 48px 0px 0px 0px;
}
.main {
   padding: 170px 0px 0px 0px;
   flex-grow: 1;
   h1 {
      color: #1d2538;

      font-size: 60px;
      font-weight: 700;
   }
   h2 {
      color: #1d2538;

      font-size: 40px;
      font-weight: 700;
      line-height: 1.3;
   }
   p {
      a {
         color: #1d2538;
         text-align: center;
         font-size: 18px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         text-decoration-line: underline;
         text-decoration-style: solid;
         text-decoration-skip-ink: none;
         text-decoration-thickness: auto;
         text-underline-offset: auto;
         text-underline-position: from-font;
      }
      color: #717171;

      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
   }
}
.intro {
   ul {
      li {
         color: #1d2538;
         font-family: Gilroy;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         span {
            color: #dea10b;
            font-family: Gilroy;
            font-size: 54px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
         }
         display: flex;
         flex-direction: column;
         gap: 12px;
         padding: 20px 32px;
         width: 196px;
         border-radius: 30px;
         border: 0.5px solid #1d2538;
         background: #f8f8f8;
      }
      display: flex;
      gap: 24px;
      margin: 52px 0px 0px 0px;
   }
   .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   .animation {
      img {
         mix-blend-mode: hard-light;
      }
   }
   p {
      color: #1d2538;

      /* S0 */
      font-family: Gilroy;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   .wrapper {
      display: flex;
   }
   padding: 96px 0px 96px 0px;
}
.about-us {
   .buttons {
      a {
         display: flex;
         height: 42px;
         padding: 10px 30px;
         justify-content: center;
         align-items: center;
         gap: 10px;

         border-radius: 100px;
         border: 0.5px solid #1d2538;
         background: #f8f8f8;

         color: #1d2538;
         text-align: center;
         font-family: Gilroy;
         font-size: 18px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
      }
      display: flex;
      align-items: center;
      gap: 24px;
   }
   .text {
      color: #1d2538;
      text-align: center;

      /* S0 */
      font-family: Gilroy;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      max-width: 1076px;
   }
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 36px;
   }
   padding: 96px 0px 96px 0px;
}
.advantages {
   .img {
      height: 100%;
      display: flex;
      align-items: center;
   }
   img {
      width: 72px;
      height: 72px;
   }
   p {
      color: #1d2538;

      /* Текст М */
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
   h3 {
      color: #1d2538;

      /* H2 */
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .info {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   .item {
      border-radius: 30px;
      border: 0.5px solid #1d2538;
      background: #f8f8f8;

      display: flex;
      width: 636px;
      padding: 36px;
      align-items: flex-start;
      gap: 24px;
   }
   .wrapper {
      margin: 48px 0px 0px 0px;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
   }
   //margin: 96px 0px 0px 0px;
   padding: 96px 0px;
}
.services {
   .it-01 {
      //background: linear-gradient(180deg, #d7f2ff -20.65%, #e9eaf2 100%);
      background: url("../img/it01.png") no-repeat;
   }
   .it-02 {
      //background: linear-gradient(180deg, #d8f2ff -22.36%, #ecf5eb 100%);
      background: url("../img/it02.png") no-repeat;
   }
   .it-03 {
      //background: linear-gradient(180deg, #efd0f9 -19.22%, #f5ecf4 100%);
      background: url("../img/it03.png") no-repeat;
   }
   .it-04 {
      //background: linear-gradient(180deg, #d9f3ff -14.58%, #e9eaf2 100%);
      background: url("../img/it04.png") no-repeat;
   }
   .it-05 {
      //background: linear-gradient(180deg, #f2d5f6 -16.94%, #f5ecf4 100%);
      background: url("../img/it05.png") no-repeat;
   }
   .it-06 {
      //background: linear-gradient(180deg, #c8fed5 -20.83%, #ecf5eb 100%);
      background: url("../img/it06.png") no-repeat;
   }
   .it-07 {
      //background: linear-gradient(180deg, #cdeeff -16.11%, #e9eaf2 100%);
      background: url("../img/it07.png") no-repeat;
   }
   .it-08 {
      //background: linear-gradient(180deg, #d8f2ff -22.36%, #ecf5eb 100%);
      background: url("../img/it08.png") no-repeat;
   }
   .it-09 {
      //background: linear-gradient(180deg, #c8fed4 -25.42%, #ecf5eb 100%);
      background: url("../img/it09.png") no-repeat;
   }
   .it-10 {
      //background: linear-gradient(180deg, #cbfedd -12.97%, #ecf5eb 100%);
      background: url("../img/it10.png") no-repeat;
   }
   .it-11 {
      //background: linear-gradient(180deg, #ecccfe -22.36%, #f7f0f0 100%);
      background: url("../img/it11.png") no-repeat;
   }
   .it-12 {
      //background: linear-gradient(180deg, #d8f2ff -22.36%, #ecf5eb 100%);
      background: url("../img/it12.png") no-repeat;
   }
   a {
      display: flex;
      width: 266px;
      height: 50px;
      padding: 10px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;

      border-radius: 100px;
      border: 0.5px solid #1d2538;
      background: #f8f8f8;

      color: #0d0d0e;
      text-align: center;
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   h3 {
      color: #1d2538;

      /* H2 */
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      flex-grow: 1;
   }
   .grid-container {
      margin: 48px 0px 0px 0px;
      display: grid;
      grid-template-columns: repeat(4, calc((100% - 3 * 24px) / 4)); /* Учитываем 3 промежутка по 24px */

      gap: 24px;
   }

   .grid-item {
      background-position: right bottom;
      background-size: 100%;
      border-radius: 30px;
      //background: #d9d9d9;
      padding: 24px;
      height: 360px;

      display: flex;
      flex-direction: column;
   }

   .span-2 {
      grid-column: span 2;
   }

   @media (max-width: 768px) {
      .grid-container {
         grid-template-columns: repeat(2, 1fr); /* 2 колонки */
      }
   }

   @media (max-width: 480px) {
      .grid-container {
         grid-template-columns: 1fr; /* 1 колонка */
      }
   }
   padding: 96px 0px;
}
.consultation {
   .buttons {
      display: flex;
      gap: 36px;
      a {
         display: flex;
         align-items: center;
         gap: 12px;
         max-width: fit-content;
         color: #1d2538;
         text-align: center;
         font-size: 18px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         text-decoration-line: underline;
         text-decoration-style: solid;
         text-decoration-skip-ink: none;
         text-decoration-thickness: auto;
         text-underline-offset: auto;
         text-underline-position: from-font;
      }
   }
   .msgrs {
      display: flex;
      align-items: center;
      gap: 12px;
      max-height: 50px;
   }
   .col {
      a {
         color: #1d2538;
         text-align: justify;
         font-family: Gilroy;
         font-size: 18px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
      display: flex;
      flex-direction: column;
      gap: 5px;
   }
   .contacts {
      flex-grow: 1;
      display: flex;
      //align-items: center;
      gap: 24px;
   }
   .info {
      display: flex;
      flex-direction: column;
      gap: 24px;

      max-width: 746px;
   }
   .name {
      span {
         font-size: 20px;
         color: #1d2538;
      }
      color: #717171;
      display: flex;
      flex-direction: column;
      gap: 6px;
   }
   .expert {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }
   .img {
      img {
         max-width: 262px;
      }
   }
   .row {
      display: flex;
      justify-content: space-between;
   }
   .wrapper {
      border-radius: 50px;
      border: 0.5px solid #67787f;
      background: #f8f8f8;
      padding: 48px;
      max-width: fit-content;
      margin: 0px auto;
   }
   .container {
      width: 1296px;
   }
   padding: 23px 0px;
}
.portfolio {
   .button-prev, .button-next{
      cursor: pointer;
   }
   .swiper-button-disabled {
      svg {
         rect{
            stroke: #BFBFBF;
         }
         path {
            fill: #BFBFBF;
         }
      }
   }
   .pagination {
      min-width: 60px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
   }
   .button-prev {
      //transform: rotate(180deg);
   }
   .sw-navigation {

      //max-height: 42px;
      display: flex;
      align-items: center;
      gap: 26px;
   }
   .swiper-pagination {
      position: relative;
   }
   .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 48px 0px 32px 0px;
   }
   .container {
      a {
         display: flex;
         align-items: center;
         gap: 12px;
         max-width: fit-content;
         color: #1d2538;
         text-align: center;
         font-size: 18px;
         font-style: normal;
         font-weight: 700;
         line-height: normal;
         text-decoration-line: underline;
         text-decoration-style: solid;
         text-decoration-skip-ink: none;
         text-decoration-thickness: auto;
         text-underline-offset: auto;
         text-underline-position: from-font;
      }
   }
   padding: 96px 0px;
}
